<ol class="slide-component" data-slide-component>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <h2>Enter your Business ID</h2>
      <input type="number">
      <button class="next-slide" data-slide-next>Next</button>
    </div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <h2>Create a password</h2>
      <input type="password">
      <button class="previous-slide" data-slide-previous>Back</button>
      <button class="next-slide" data-slide-next>Next</button>
    </div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <h2>Enter account information</h2>
      <span>Please enter the following information</span>
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Surname">
      <input type="text" placeholder="Phone number">
      <button class="previous-slide" data-slide-previous>Back</button>
      <button class="next-slide" data-slide-next>Next</button>
    </div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <h2>Final verification</h2>
      <span>If you filled in all your information correctly, submit it by pressing the 'submit' button below.</span>
      <button class="previous-slide" data-slide-previous>Back</button>
      <button class="next-slide btn-submit" data-slide-submit>Submit</button>
    </div>
    <img src="../assets/images/loader.gif" alt="" class="slide-loader" data-slide-loader>
    <div class="slide-complete-icon">✓</div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <h2>Account creation succesful!</h2>
      <button class="previous-slide" data-slide-previous>Back</button>
    </div>
  </li>
</ol>
