<ol class="slide-component" data-slide-component>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <p>Blabla-1</p>
      <button class="next-slide" data-slide-next>Next slide</button>
    </div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <p>Blabla-2</p>
      <button class="previous-slide" data-slide-previous>Previous slide</button>
      <button class="next-slide" data-slide-next>Next slide</button>
    </div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <p>Blabla-3</p>
      <button class="previous-slide" data-slide-previous>Previous slide</button>
      <button class="next-slide" data-slide-next>Next slide</button>
    </div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <p>Blabla-4</p>
      <button class="previous-slide" data-slide-previous>Previous slide</button>
      <button class="next-slide" data-slide-next>Next slide</button>
    </div>
  </li>
  <li class="slide-component__slide" data-slide>
    <div class="slide-content">
      <p>Blabla-5</p>
      <button class="previous-slide" data-slide-previous>Previous slide</button>
    </div>
  </li>
</ol>
