<ol class="progress-bar" data-progress-bar-component>
  <li class="progress-bar__step" data-progress-bar-step>
    <div class="progress-bar__icon-container" data-step="1" data-step-complete="✓"></div>
    <span class="progress-bar__label">Business ID</span>
  </li>
  <li class="progress-bar__step" data-progress-bar-step>
    <div class="progress-bar__icon-container" data-step="2" data-step-complete="✓"></div>
    <span class="progress-bar__label">Create password</span>
  </li>
  <li class="progress-bar__step" data-progress-bar-step>
    <div class="progress-bar__icon-container" data-step="3" data-step-complete="✓"></div>
    <span class="progress-bar__label">Account information</span>
  </li>
  <li class="progress-bar__step" data-progress-bar-step>
    <div class="progress-bar__icon-container" data-step="4" data-step-complete="✓"></div>
    <span class="progress-bar__label">Success</span>
  </li>
</ol>
